:root {
  --primary-color: #f6d399;
  --secondary-color: #da9785;
  --accent1-color: #99403f;
  --accent2-color: #481c1f;
  --accent3-color: #945e8c;

  --heading-font: "Croissant One", sans-serif;
  --paragraph-font: "Inclusive Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  max-width: 1600px;
}

body {
  font-family: "Croissant One", "Inclusive Sans", sans-serif;
}

/*Main Navigation*/
#menu {
  font-size: 20px;
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 40px;
}

#menu::before {
  content: "☰";
  font-size: 40px;
}

#menu.open::before {
  content: "X";
}

.navigation {
  display: flex;
  flex-direction: column;
}

h1 {
  padding-left: 10px;
  font-size: 1.5rem;
  color: var(--accent2-color);
}

.navigation a {
  display: none;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.navigation a:hover {
  text-decoration: underline;
}

.open a {
  display: block;
}

header {
  background-color: var(--primary-color);
  display: grid;
  grid-gap: 1rem;
  padding: 20px;
  border: 1px solid var(--accent2-color);
  box-shadow: 0 0 15px black;
}

/* Main */
main {
  margin: 15px auto;
}
.main-img img {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--accent2-color);
}
h3 {
  text-align: center;
  margin: 20px;
}
#dota-container {
  background-color: var(--secondary-color);
  margin: 40px;
  padding: 30px;
  border-radius: 6px;
  border: 1px solid var(--accent2-color);
  box-shadow: 0 0 15px black;
}
#dota-text {
  text-align: justify;
  font-family: "Inclusive Sans";
}
#dota-text::first-letter {
  font-size: 150%;
  font-family: "Croissant One";
}

/* Heroes Navigation */
#heroes-menu {
  font-size: 20px;
  background: none;
  border: none;
  color: var(--accent2-color);
}

#heroes-menu::before {
  content: "☰";
  font-size: 40px;
}

#heroes-menu.open::before {
  content: "X";
}

.heroes-navigation {
  display: flex;
  flex-direction: column;
  font-family: "Inclusive Sans";
}

.heroes-navigation a {
  display: none;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 25px;
}

.heroes-navigation a:hover {
  color: var(--black);
  text-decoration: underline;
}

.open a {
  display: block;
}

#heroes {
  grid-gap: 25px;
  padding: 25px;
}

/* Card */
.card {
  text-align: center;
  background-color: var(--primary-color);
  position: relative;
  box-shadow: 0px 3px 5px 0px var(--accent2-color);
  padding: 10px;
  margin: 20px;
  border: 1px solid var(--accent2-color);
}

.card h2 {
  font-size: 1em;
  color: var(--black);
}

.card p {
  font-size: 0.8em;
  color: var(--black);
  font-family: "Inclusive Sans";
}

.card img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  margin-top: 10px;
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  font-family: "Inclusive Sans";
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  border: 1px solid var(--accent2-color);
}

/* Responsive */
@media screen and (min-width: 640px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
  }
  #menu,
  #heroes-menu {
    display: none;
  }
  .navigation,
  .heroes-navigation {
    justify-content: center;
    flex-direction: row;
  }
  .navigation a,
  .heroes-navigation a {
    display: block;
  }
  .heroes-navigation {
    display: flex;
    flex-wrap: wrap;
    font-family: "Inclusive Sans";
    font-size: 0.5rem;
  }

  #heroes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
  }
  #menu,
  #heroes-menu {
    display: none;
  }
  .navigation a,
  .heroes-navigation a {
    display: block;
  }
  .heroes-navigation {
    display: flex;
    flex-wrap: wrap;
    font-family: "Inclusive Sans";
    font-size: 0.5rem;
  }
  figure img,
  figcaption {
    grid-column: auto;
  }
  #heroes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*History Rules Page*/
  #history-rules-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 0.5fr 0.5fr 4fr 0.5fr 0.5fr 4fr;
    gap: 20px 0px;
    margin-top: 60px;
  }

  #history-title-section {
    grid-column: 3/8;
    grid-row: 2/3;
  }

  #history-text-section {
    grid-column: 1/5;
    grid-row: 3/4;
  }

  #history-img-section {
    grid-column: 6/10;
    grid-row: 3/4;
  }

  #rules-title-section {
    grid-column: 3/8;
    grid-row: 5/6;
  }

  #rules-text-section {
    grid-column: 6/10;
    grid-row: 6/7;
  }

  #rules-img-section {
    grid-column: 1/5;
    grid-row: 6/7;
  }

  #history-text-section p,
  #rules-text-section p {
    text-align: justify;
  }

  #history-img,
  #rules-img {
    border: 5px solid #435465;
    box-shadow: 5px 5px 10px #555555;
    height: auto;
  }
}
